// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

a.tools{
    color: lightcyan;
}

.tools:hover {
    color: yellow;
  }

#Search{
width:480px;height:49px; border:2px solid black;
padding-left:48px;
padding-top:1px;
font-size:18px;color:black;
background-repeat:no-repeat;
background-position:center;outline:0;
}

#Search::-webkit-search-cancel-button{
    position:absolute;
    right:20px;    
}

#ticketinfotable{
    background-color:#495371;
}

#rowcontent{
    border-color:#21325E;
}

#ticketinfocontent{
    color: whitesmoke;
}
#tabletickets{
    background-color:#424549;
}
img#search-icon{
    height: 25px;
    width: 25px;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .navz-index{
    z-index: 500;
  }